body{
    background-color:#dad1c8;
    margin: 0;
   font-family: Georgia, Times, 'Times New Roman', serif;
}

.cabeçalho {
background-image: url(IMAGENS/03.jpg);
height: 500px;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
padding-top: 1px;
}

.div-cabecalho{
   
    margin: 100px auto;
    width: 80%;
    text-align: center;
    color: #ffff;
}

.div-cabecalho h1{
    font-size:  50px;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.div-cabecalho a{ 
    background-color:#665138;
    color: #f8f4f4;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.div-cabecalho a:hover{
    background-color: #EAD9C7;
    color: #665138;
}

.cabeçalho nav ul{
    margin: 25px 40px 0 0;
    text-align: right;
}

.cabeçalho nav ul li{
list-style-type: none;
display: inline-block;
margin-left: 15px;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 12px;
}

.cabeçalho nav a{
    color: #f8f4f4;
    text-decoration: none;
    background-color: #665138;
    padding: 5px;
    border-radius: 5px;
}

.cabeçalho nav a:hover{
    background-color: #EAD9C7;
    text-decoration: none;
    color: #665138;
    padding: 5px;
    border-radius: 5px;
}

.main{
    width: 90%;
    margin: auto;
}


section{
    margin-top: 40px;
    margin-bottom: 40px;
}

article{
  
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

article h2{
    background-color: #455499;
    color: #ffffff;
    margin-top: 0;
    text-align: center;
}

.config-img{
    height: 80px;
    float: left;
    padding-right: 5px;
}

img:hover{
    transform: scale(1.1);
}

footer{
    background-color: #455499;
    padding: 10px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.config-img{
    height: 80px;
    float: left;
    padding-right: 5px;
}

img:hover{
    transform: scale(1.1);
}


